table {
    border-collapse: separate;
    margin-top: 10rem;
    width: 100%;
}

tr {
    display: flex;
}

table a {
    text-decoration: none;
    color: #CBF83E;
}

th {
    background-color: #757575; ;
    color: black;
    font-size: 20px;
}

th,td{
    padding: 10px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex:1;
}

th:nth-child(2),
.itemUrl {
    flex: 2;
    flex-flow: row wrap;
}

td {
    font-weight: 500;
}

tr:nth-child(even){
    background-color: rgb(150, 150, 150);
}